# default make file config

# --- device ---
DEVICE   = atmega328p   # arduino uno chip
PLATFORM = arduino      # arduino platform
CLOCK    = 16000000     # clock speed

# --- dev ---
PORT               = /dev/ttyUSB0                                   # programmator port
ARDUINO_TOOLS_PATH = /home/gimura/arduino-1.8.15/hardware/tools/avr # path to arduino tools

# --- drivers ---
# default drivers
IN_D  = uart # default text input driver
OUT_D = uart # default text output driver

# enabled drivers
ENABLED_DRIVERS = uart # uart for input and output